canvas {
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				z-index: 2;
			   
			}
.color_image{
	left: 300px;
	bottom: 200px;
	position: absolute;
	z-index:1;
	border: 1em solid #000000;
	pointer-events: none;
}
			
.content_images{	
	position: absolute;
	width: 75%;
	top: 50px;
	left: 300px;
	z-index: 4;
	pointer-events: none;
	border: 1em solid #000000;
}

.coloringbook-selector form{
	
	border: 0.5em solid #000000;
		z-index: 1;
				position: absolute;
				left: 10px;
				background: #D3D3D3;
				padding: 1em;
				color: #ffffff;
}

	
#draw body{
background: #000000;
} 


			@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
				form * {
					font-size: 1.5em;
				}
			}


			#clear {
				display: none;
			}

@font-face {
	
	font-family:
		'gameplay';
	src: url('fonts/digitizer.woff') format('woff'), url('fonts/digitizer.otf') format('opentype');
		
}												
												
html{
	
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}


svg {
  display: block;
  overflow: hidden;
  margin: 3em auto;
  height: 100vh;
  width: 100vw;
}

a{
	
	text-decoration: none;
	
}	
														
footer h3{
		text-align: center;
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		text-decoration: underline;
		text-shadow: 0.08em 0.08em #8AAAB9;
		
}

footer h4{
	
		margin-left: 15%;
		margin-right: 15%;
		text-align: center;
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		text-shadow: 0.08em 0.08em #8AAAB9;
		
}

footer p{
	
	margin: auto;
	padding: 7%;
	text-align: center;
	font-family: 'gameplay', 'Arial Black', sans-serif;
	font-style: italic;
	text-shadow: 0.1em 0.1em 0.2em #7D979E;
	color: #000000;
	
}								


footer a{
	
	color: #000000;
	
}

footer a:hover{
	
			color: #CFD1D1;			
}

footer span{
	
			color: #8AAAB9;	
}

footer span:hover{
	
			color: #000000;			
}

form{
	
	font-family: 'Arial Black' , sans-serif;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 5%;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0.1em 0.1em 0.2em #7D979E;

}

footer {

	
	position: relative;
	background: -webkit-radial-gradient(#FFFFFF,#CCCEC0);
	border: 0.5em double #707070;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 1em #444444;
	box-sizing: border-box;
	width: 60%;
	margin-left: 20%;

}	
										/* ids */

 #standard {
	
	background: url(images/bkgnd.png);
	background-color: #C7D1CE;
	background-size: cover;

}

#standard2{
	
	background: -webkit-radial-gradient(#C7D1CE,#707070);
}

#header{
	
	position: relative;
	background: -webkit-radial-gradient(#FFFFFF,#CCCEC0);
	border: 0.5em double #707070;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 1em #444444;
	box-sizing: border-box;
	width: 60%;
	margin-left: 20%;

}

#header h1{
	
	font-size: 2.6em;
	letter-spacing: 0.05em;
	text-align: center;
	font-family: 'gameplay', 'Arial Black', sans-serif;
	font-style: italic;
	text-decoration: underline;
	text-shadow: 0.05em 0.05em 0.05em  #000000;
	color: #8AAAB9;
	
	
}

#header h1:hover{
		
		cursor: pointer;
		color:#CFD1D1;  
	
}

#header a{
	
	color: #8AAAB9;
		
}

#header a:hover{
	
	color:#CFD1D1;
	
}

#header span{
		
		text-transform: uppercase;	
		
}


										/*navigation*/
#nav-button a{
	
	font-size:3.5em;
	cursor:pointer; 
	color: #8AAAB5;
	text-shadow: 0.04em 0.04em 0.04em #000000;
	margin-left: 45%;
	
}

#nav-button a:hover{
	
	color:#CFD1D1; 
	
}										
										
										
#navigation{
	
		z-index: 1;
		overflow: hidden;
		display: none;
}

#navigation ul{
		
		list-style-type: none;
		overflow-y: hidden;
		position: relative;
		text-align: center;
		right:7%;
		width: 100%;
		
}

#navigation li{
	
		margin-top: 5%;
		
}


#navigation a {
	
	padding-left: 5%;
	color: #8AAAB9;
	font-family: 'gameplay', 'Arial Black' , sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em 0.1em #000000;
	text-decoration: none;
	
	
}

#navigation a:hover {
	
	color: #CFD1D1; 

}
							/*main*/

#main{
	
	display:grid;
	grid-template rows: 2fr 2fr;
	grid-template-columns: 2fr 2fr;
	box-sizing: border-box;
	box-shadow: 0.1em 0.1em 1em #444444;
	margin: 7%;
	border: 0.5em outset #707070;
	border-radius: 1em;
	background: #707070;
	
}
		
											/*container*/
.container{
	
	text-align: center;
	position: relative;
	box-sizing: border-box;
	border-radius: 1em;
	border: 0.4em double #707070;
	padding: 3%;
	background: -webkit-radial-gradient(#FFFFFF,#CCCEC0) , #C7D1CE;
	
	
}

.container span{
			
		text-decoration: underline;
	
}

.container a span{
			
	color:#8AAAB9;
	
}

.container a span:hover{
			
		color: #000000;
	
}


.container h1{
	
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		color: #8AAAB9;
		text-shadow: 0.08em 0.08em 0.08em #000000;
}
.container h1:hover{
	
	color: #000000;
}

.container h2{
	
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		color: #8AAAB9;
		text-shadow: 0.08em 0.08em 0.08em #000000;
}

.container h2 span{
	
		text-decoration: underline;
}

.container h3{
	
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		color: #8AAAB9;
		text-decoration: underline;
		text-shadow: 0.08em 0.08em 0.08em #000000;
		margin-bottom: 5%;
	
}

.container p{

	text-align: center;
	text-shadow: 0.04em 0.04em 0.4em #606266;
	font-family: 'gameplay', 'Arial Black' , sans-serif;
	font-size: 1em;
	color: #000000;
	padding-left: 5%;
	padding-right: 5%;
	letter-spacing: 0.05em;
	
}

.container a{
			
			font-weight: bold;
			color: #000000;
		
			
}

.container a:hover{
	
			color: #CFD1D1;
	
}

.container ul{
	


	list-style-type: none;
	top: 300px;
	
	
	
}

.container li{
		
		margin-top: 5%;
		font-family: 'gameplay', 'Arial Black' , sans-serif;
		font-weight: bold;
		font-size: 1.8em;
		letter-spacing: 0.05em;
		color: #8AAAB9;
		text-shadow: 0.1em 0.1em 0.1em #000000;
			
}

.container li:hover{
	
	color: #000000;
	
}

									/*images and slides*/
									

.slideshow-container {

  position: relative;
  margin: auto;

}

.mySlides {

	display: none;

	
}

.mySlides2 {

	display: none;
	
}

.mySlides_in {

	display: none;
	
}

.mySlides_in img{

		border: 0.3em outset #707070;
	
}

.mySlides_in img:hover{
	
	border:  0.3em outset #CFD1D1;
	
}

.mySlides_in form{

		border: 0.3em double #707070;

			
}
.mySlides_in2 {

	display: none;

}

.mySlides_in2 form{
	border: 0.3em double #707070;
}

.mySlides_in2 img{
	
	width: 60%;
	margin-left: 0;
	border:  0.3em outset #707070;
	
}

.mySlides_in2 img:active{
	
	position: fixed;
	bottom: 10px;
	z-index: 1;
	width: 30%;
	border:  0.3em outset #707070;
}

.mySlides_in2 img:hover{
	
	border:  0.3em outset #CFD1D1;
	
}

.mySlides_in3 img{
	
	width: 60%;
	margin-left: 0;
	border:  0.3em outset #707070;
	
}

.mySlides_in3 img:active{
	
	position: fixed;
	bottom: 10px;
	right: 300px;
	z-index: 1;
	width: 30%;
	border:  0.3em outset #707070;
	
}

.mySlides_in3 img:hover{
	
	border:  0.3em outset #CFD1D1;
	
}

.mySlides_in4 img{
	
	width: 60%;
	margin-left: 0;
	border:  0.3em outset #707070;
	
}

.mySlides_in4 img:active{
	
	position: fixed;
	bottom: 10px;
	right: 300px;
	z-index: 1;
	width: 30%;
	border:  0.3em outset #707070;
	
}
.mySlides_in5 img{
		border: 0.3em outset #707070;
		width: 60%;
		margin-left: 0;	
}

.mySlides_in5 img:hover{
	
	border:  0.3em outset #CFD1D1;
	
}
.mySlides_in5 img:active{
	
	position: fixed;
	bottom: 10px;
	right: 300px;
	z-index: 1;
	width: 30%;
	border:  0.3em outset #707070;
	
}

.prev {
	
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  user-select: none;
  float: left;
 
}

.next{
	
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
 float: right;
 
}


.prev:hover, .next:hover {
	
  background-color: #8AAAB9;
  
}


.dot-container{
	
	text-align:center;
}


.dot {
	
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  right: 50px;
  
}

.active, .dot:hover {
	
  background-color: #717171;
}									
									
.enclosure{
	
		border: 0.4em double #707070;
		margin-top: 50px;
	
}

.enclosure img{
	
	width: 20%;
	margin: 5%;
	border: 0.3em outset #707070;
	
}

.enclosure img:hover{
	
	border:  0.3em outset #CFD1D1;
	opacity: 0.5
	
}


.image img{
	
		border: 0.3em outset #707070;
		border-radius: 1em;
		width: 100%;
		height: 100%;
		right: 1%;
		box-shadow: 0.1em 0.1em 1em #000000;
		position: relative;
	
}

.image img:hover{
	
	border:  0.3em outset #CFD1D1;
	opacity: 0.5;
	
}


								
													/*grid*/

.grid-container{

	
	display: grid;
	grid-template-columns: repeat(4,1fr);
	box-sizing: border-box;
	position: relative;
	width: 90%;
	margin: 5%;
	margin-top: 40px;
		
}

.grid-container img{
		
	width: 100%;
	border: 0.3em outset #000000;
	background: #000000;
}


.grid-container-2{

	display: grid;
	grid-template-columns: repeat(2,1fr);
	box-sizing: border-box;
	border: 0.5em outset #707070;
	background-color:#000000;
	position: relative;
	margin-top: 6%;
	overflow: hidden;	
}

.grid-container-3{
	display: grid;
	grid-template-columns: 1;
	border: 0.5em outset #707070;
	box-sizing: border-box;
	position: relative;
	margin: 5%;	
	background: #000000;	
}

.grid-container-3 img{
	width: 100%;
}
.grid-container-4{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	box-sizing: border-box;
	border: 0.5em outset #707070;
	background-color:#000000;
	position: relative;
	margin-top: 6%;
	overflow: hidden;	
}
.grid-container-4 img{
	width: 85%;
	height: 240px;
}										/* videos */
.video-wrapper{
	
	position: relative;
	padding:43%;

}

.video-wrapper iframe{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}
		

.fade {
	
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
  
}



				/*webkit*/
				
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


										/* Media queries */


												/*tablet*/
										
@media screen and (	max-width: 1200px){
	
			
				
				#header h1{
					
					margin: 5%;
	
				}
		
	
					#nav-button a{
					
				
				font-size:2.5em;
				cursor:pointer; 
				color: #8AAAB5;
				text-shadow: 0.04em 0.04em 0.04em #3F3F3F;
				position: relative;
				bottom: 20px;
				
					
				}
				
					#navigation ul{
					
					text-align: center;
					bottom: -5%;
					width: 100%;

					}
			
				
					#navigation li{
				
					font-size: 1em;
					padding: 3%;
					
					}
			
				
				#main{
					
					display:block;
					box-sizing: border-box;
					margin: 10%;	
							}
				.container ul{
					z-index: 1;
					position: relative;
					top: 15px;
				}
				
				.container li{
		
				font-size: 1.5em;
					
					}
					
				.grid-container{
	
				position: relative;
				top: 33%;	
				right: 0;
	

				}  
				
				p{
					font-size: 0.7em;
					
				}
	
}
								
								/*smaller tablet*/
								
@media screen and (max-width: 800px){

					
						#header h1{
					
					font-size: 1.8em;
					margin: 5%;
							}
	

				
					#nav-button a{
					
				
					font-size:2em;
					cursor:pointer; 
					color: #8AAAB5;
					text-shadow: 0.04em 0.04em 0.04em #3F3F3F;
					bottom: 20px;
					position: relative;
					
					
				}
				
					#navigation ul{
					
					text-align: center;
					bottom: -5%;
					width: 100%;

					}
					
				
					
					#navigation a{
					
						padding: 2%;
						font-size: 1.2em;
					
				}
				.slideshow-container form{
					
				}
				
				.container li{
		
				font-size: 1em;
					
					}
					
					.enclosure img{
	
					width: 20%;
					display: inline-block;
					margin: 5%;
					border: 0.2em outset #707070;
	
					}

				.enclosure img:hover{
	
					border:  0.2em outset #CFD1D1;
	
						}
					

							}

												/*mobile*/
												
@media screen and (	max-width: 600px){
	
			
					 label{
					 display: inline;
						width: 10%;
					   }

						 img{
							width: 70%;
							 top: 50px;
						 }
						 
						 input{
							display: inline;
							width: 50%;
						 }
						 
				
						 
					#draw body {
			
				background-color: #ffffff;
				font-family: sans-serif;
				padding: 1em;
					}		 
	
			
				#header h1{
					
					font-size: 1.2em;
					margin: 5%;
					margin-bottom: 7%;
						
				}

				
				#nav-button a{
				
					font-size: 1em;
					width: 100%;
					bottom: 10px;
					position: relative;
				}
				
				#navigation ul{
						
					font-size: 1em;
					width: 100%;
					right: 50px;
			
				}
				
				#navigation li{
					
					position: relative;
					margin-top: 5%;
					
				}
				
				#navigation a{
					
						padding: 2%;
						font-size: 1em;
			
					
				}
			
				
				.container li{
		
				font-size: 1em;
				padding-bottom: 1em;
					
					}
					
				.container ul{
				
				position: relative;
				margin-right: 50px;
				margin-top: 25px;
					
				}
				
					
				.grid-container-2{

					display: block;
					box-sizing: border-box;
					border: 0.5em outset #707070;
					background: -webkit-radial-gradient(#FFFFFF,#CCCEC0);
					position: relative;
					margin-top: 6%;
					width: 100%;
					height: 80%;
					overflow: hidden;	
					}
					
					.grid-container-4 img{
						height: 80px;
					}
					
					.enclosure img{
	
							width: 20%;
							margin: 5%;
							border: 0.1em outset #707070;
	
								}

					.enclosure img:hover{
	
							border:  0.1em outset #CFD1D1;
	
								}
					
						.image img{
			
					border: 0.2em outset #707070;
					border-radius: 1em;
					
					
					
	
						}
						
					.image img:hover{

					border:  0.2em outset #CFD1D1;
							
					}
			
				
					.mySlides_in2 img:active{
	
						position: fixed;
						bottom: 10px;
						z-index: 1;
						width: 60%;
						right: 50px;
						border:  0.3em outset #707070;
							
					
					}

					.mySlides_in3 img:active{
						
						position: fixed;
						bottom: 10px;
						left: 50px;
						z-index: 1;
						width: 60%;
						border:  0.3em outset #707070;
						
					}
					
					.mySlides_in4 img:active{
						
						position: fixed;
						bottom: 10px;
						left: 50px;
						z-index: 1;
						width: 60%;
						border:  0.3em outset #707070;
						
					}

					/*media only*/

@media only screen and (max-width: 300px) {
  
			.prev, .next, .text {
				
				font-size: 11px;
				
				}
				
}









